{% extends "base.html" %}

{% block content %}
{% block form %}
{% endblock %}

<div style="margin-top:20px">
    <table class="table table-striped">
        <tr>
            <th>Author</th>
            <th>Books</th>
            <th>Actions</th>
        </tr>
        <tbody class="">
        {% for author in list_of_authors %}
        <tr>
            <td>{{author.name}}</td>
            <td >{{author.books|books_of_author}}</td>
            <td>
                <li><a href="/authors/del/{{ author.id }}"><span class="glyphicon glyphicon-remove"></span> Delete author</a></li>
                <li><a href="/authors/edit/{{ author.id }}"><span class="glyphicon glyphicon-pencil"></span> Edit author</a></li>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}