<!DOCTYPE html>
<html>
<head>
    {% if title %}
    <title>{{title}}</title>
    {% else %}
    <title>Библиотека</title>
    {% endif %}
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css">
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap.js"></script>
    <style>
        body {
          min-height: 2000px;
          padding-top: 70px;
        }
    </style>
</head>
<body>

    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          </button>
          <a class="navbar-brand" href="#">Bibliote4ka</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="/">Books</a></li>
            <li><a href="/authors">Authors</a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="container">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>