{% extends "base.html" %}

{% block content %}
{% block form %}
{% endblock %}

<div style="margin-top:20px">
    <table class="table table-striped">
        <tr>
            <th>Title</th>
            <th>Authors</th>
            <th>Actions</th>
        </tr>
        <tbody class="">
        {% for book in list_of_books %}
        <tr>
            <td>{{book.title}}</td>
            <td>
                {{ book.authors|authors_of_book }}
            </td>
            <td>
                <li><a href="/del/{{ book.id }}"><span class="glyphicon glyphicon-remove"></span> Delete book</a></li>
                <li><a href="{{ book.id }}"><span class="glyphicon glyphicon-pencil"></span> Edit book</a></li>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}