{% extends "base.html" %}

{% block content%}
{% block form %}
    <form class="form-horizontal" method="post" name="edit_book">
        <div class="modal-header">
            <h4 class="modal-title">Edit book</h4>
        </div>
        <div class="modal-body">

            <div class="form-group">
                <label for="title" class="col-lg-2 control-label">Title</label>
                <div class="col-lg-10">
                    {{form.title(class="form-control")}}
                </div>
            </div>
            <div class="form-group">
                <label for="authors" class="col-lg-2 control-label">Authors</label>
                <div class="col-lg-10">
                    {{form.authors(class="form-control" )}}
                </div>
            </div>

            {{form.hidden_tag()}}

        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-primary">Save</button>
        </div>
    </form>
{% endblock %}
{% endblock %}