{% extends "base.html" %}

{% block content %}
{% block form %}
<form class="form-horizontal" method="post" name="new_author">
    <div class="modal-header">
        <h4 class="modal-title">Edit Author</h4>
    </div>
    <div class="modal-body">

        <div class="form-group">
            <label for="name" class="col-lg-2 control-label">Name Author</label>
            <div class="col-lg-10">
                {{form.name(class="form-control")}}
            </div>
        </div>

        {{form.hidden_tag()}}

    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary">Save</button>
    </div>
</form>
{% endblock %}
{% endblock %}