{% extends "books.html" %}

{% block form %}
<div>
    <!-- Button trigger modal -->
    <a data-toggle="modal" href="#addBook" class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-plus"></span> Add book</a>

    <!-- Modal -->
    <div class="modal fade" id="addBook" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form class="form-horizontal" method="post" name="new_book">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">Add book</h4>
                    </div>
                    <div class="modal-body">

                        <div class="form-group">
                            <label for="title" class="col-lg-2 control-label">Title</label>
                            <div class="col-lg-10">
                                {{form.title(placeholder="Title", class="form-control")}}
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="authors" class="col-lg-2 control-label">Authors</label>
                            <div class="col-lg-10">
                                {{form.authors(placeholder="List of authors", class="form-control" )}}
                            </div>
                        </div>

                        {{form.hidden_tag()}}

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save book</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


{% endblock %}